/* Junicode Regular */
@font-face {
    font-family: 'Junicode';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/junicode-v1.002-latin-regular.woff2') format('woff2');
}

/* Junicode Bold */
@font-face {
    font-family: 'Junicode';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/junicode-v2-latin-700.woff2') format('woff2');
}