/* Inter Regular */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../_assets/fonts/inter-v12-latin-regular.woff2') format('woff2');
}

/* Inter Medium */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../_assets/fonts/inter-v12-latin-500.woff2') format('woff2');
}

/* Inter Bold */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../_assets/fonts/inter-v12-latin-700.woff2') format('woff2');
}

/* Source Serif Pro Semi-Bold */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../_assets/fonts/source-serif-pro-v15-latin-600.woff2') format('woff2');
}

/* Source Serif Pro Bold */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../_assets/fonts/source-serif-pro-v15-latin-700.woff2') format('woff2');
}